<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031094709371-1fkc8mrrlm6o139m8d1cmojjb6fhr274.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031094709371-1fkc8mrrlm6o139m8d1cmojjb6fhr274</string>
	<key>API_KEY</key>
	<string>AIzaSyAZIzCaWFmVQtJl0ZzE265M0cW0ojOwuHY</string>
	<key>GCM_SENDER_ID</key>
	<string>1031094709371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LifeBeatsInc.LifeBeats</string>
	<key>PROJECT_ID</key>
	<string>lifebeats-1</string>
	<key>STORAGE_BUCKET</key>
	<string>lifebeats-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031094709371:ios:727ada5b0b2f03f645c6de</string>
	<key>DATABASE_URL</key>
	<string>https://lifebeats-1.firebaseio.com</string>
</dict>
</plist>